@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "EB Garamond", serif;
}

section{
width: 80%;
margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-books{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.book-container {
  width: 100%;
  border: 2px solid black;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  padding: 0 2%;
}

.separator {
  height: 2px;
  width: 100px;
  background-color: black;
}

.book:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.39);
}

.button-cont {
  display: flex;
  justify-content: flex-end;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5px;
  
}

 nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5px;
}

nav li {
  list-style: none;
  padding: 0 10px;
}

nav a {
  text-decoration: none;
  color: black;
}

.date{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0 5px;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

input{
  width: 300px;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

#date{
  margin: 0;
}