@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "EB Garamond", serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 0 5px;
}

.book-container {
  border: 2px solid black;
  margin: 50px;
}

.separator {
  height: 2px;
  width: 100px;
  background-color: black;
}

.book:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.39);
}

.button-cont {
  display: flex;
  justify-content: flex-end;
}
